.main-text {
  text-align: center;
  font-size: 96px;

  font-weight: bold;

  color: white;

}



.secondary-text {
  text-align: center;
  background: linear-gradient(0.25turn, #00ff9d, #ebf8e1, #cf5cff);

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

  display: inline-block;

}